<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Car_Form</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/car_form.css">
  </head>
  <body>
    <h2><u>Add a New Car:</u></h2>
    <form class="" action="car_form.html" method="post">
      Car Make:<input type="text" name="Car Model" value="">
      <input type="submit" name="" value="Submit"><br><br>
      Car Model:<input type="text" name="Car" value="">
      <input type="submit" name="" value="Submit"><br><br>
      Car Year:<input type="text" name="Car Model" value="">
      <input type="submit" name="" value="Submit"><br><br>
      Mile Range:<input type="text" name="Car Model" value="">
        <input type="submit" name="" value="Submit">
    </form>
  </body>
</html>
