<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Cars</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/cars.css">
  </head>
  <body>
    <div id='container'>
      <h1><u>Cars, Scooters, and More!</u></h1>
      <img src="/images/pom.jpg" alt="">
      <img src="/images/puppy.jpg" alt="">
      <img src="/images/red.jpg" alt="">
      <img src="/images/scooter.jpg" alt="">
      <img src="/images/squirrel.jpg" alt="">
      <img src="/images/toy.jpg" alt="">
    </div>
  </body>
</html>
