<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Cats</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/cats.css">
  </head>
  <body>
    <div id='container'>
      <h1><u>Lions, and Tigers, and Cats, Oh My!</u></h1>
      <img src="/images/bear.jpg" alt="">
      <img src="/images/cat.jpg" alt="">
      <img src="/images/dog.jpg" alt="">
      <img src="/images/lioncub.jpg" alt="">
      <img src="/images/monkey.jpg" alt="">
      <img src="/images/tiger.jpg" alt="">
    </div>
  </body>
</html>
